<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Datos de la Categoría</h1>
<a th:href="@{/preguntasVista}">Regresar</a>
<br/>
<form th:action="@{/preguntas/guardar}" method="post" th:object="${preguntas}">
    <label for="pregunta">Pregunta:</label>
    <input type="text" name="pregunta" th:field="*{pregunta}"/>
    <label for="categoria">Categoria:</label>
    <input type="number" name="categoria" th:field="*{categoria}"/>
    <br/>
    <input type="submit" name="guardar" value="Guardar"/>
</form>
</body>
</html>